/* master */

body {
    margin: 0px;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 38px
}

.left-col {
    display: flex;

}

.nav > .left-col > div {
    margin-right: 15px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.s;
}

.nav-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color: black;
}

/* portfolio */

.content {
    display:inline-flex;
    padding: 50px;
}


.portfolio-img {
    height: 340px;
    width: 560px;
    background-size:cover; /* have images cut to be the same sizes */
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-items > div {
    margin-bottom: 40px;
}

.read-buttons > div {
    margin-bottom: 30px;
}

.button a {
    color:black;
    font-size: 1.5em;
    text-decoration:blue;
    transition: color 0.5s;
}

.button {
    position: relative; /* allow flexibility position item s inside it */

}

.button-img {
    height: 350px;
    width: 100%;
    background-size: cover; /* have images cut to be the same sizes */
    background-position: center;
    background-repeat: no-repeat;
}

.button-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* left to right*/
    align-items: center;   /* top to bottom */
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.button-text a {
    transition: 1s;
    font-weight: 900;
    color: grey;
}

.button-text:hover a {
    color:black;
    border-top: 1px solid black;

}