<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            
            <div class="left-col">
                <div class="nav-link">
                    <a href="index.ejs">Home</a>
                </div>
                
                <div class="nav-link">
                    <a href="landscapes.ejs">Landscapes</a>
                </div>

                <div class="nav-link">
                    <a href="portraits.ejs">Portraits</a>
                </div>

                <div class="nav-link">
                    <a href="snippets.ejs">Snippets</a>
                </div>

                <div class="nav-link">
                    <a href="comics.ejs">Comics</a>
                </div>

                <div class="nav-link">
                    <a href="about.ejs">About Me</a>
                </div>
            </div>
            
            <div class="right-col">
                <div class="brand">
                    <div>CINDY XIN</div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="two-cols">
                <div class="profile-image">
                    <img src="meee.png">
                </div>

                <div class="profile-content">
                    <h1>Hi! I'm Cindy :)</h1>

                    <p>Welcome to my site!</p>
                    <p>Special thanks to Doris, it all started with her sending me a Youtube coding tutorial named something like 
                        "Build Your Own Website In An Hour". After I spent WAY more than an hour working through 
                        the tutorial, there came this site. So... I just want to share my paintings with you (yes, YOU!) Hope they 
                        can bring you joy and make you find the most ordinary scenaries in your daily life to be still exciting :)
                    </p>
                    <p>P.S. I am really bad at giving paintings names/titles, so be prepared for the most random titles lol (this also 
                        applies to the odd description I wrote for each painting) Most of these paintings are based of photos that I took,
                        some are of photos taken by my friends (or of my friends), for which I’ll give credit in the description box.
                    </p>
                </div>
            </div>
        </div>
</body>
</html>
