<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>On the Edge of Eighteen</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="style-comic.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            
            <div class="left-col">
                <div class="nav-link">
                    <a href="index.ejs">Home</a>
                </div>
                
                <div class="nav-link">
                    <a href="landscapes.ejs">Landscapes</a>
                </div>

                <div class="nav-link">
                    <a href="portraits.ejs">Portraits</a>
                </div>

                <div class="nav-link">
                    <a href="snippets.ejs">Snippets</a>
                </div>

                <div class="nav-link">
                    <a href="comics.ejs">Comics</a>
                </div>

                <div class="nav-link">
                    <a href="about.ejs">About Me</a>
                </div>
            </div>
            
            <div class="right-col">
                <div class="brand">
                    <div>CINDY XIN</div>
                </div>
            </div>
        </div>
        <div class="sen">
            <h1>This piece was done when I was right about to turn eighteen. Just some random thoughts and feelings 
                that belonged to that period of time (yet I still share some of these feelings today). When my friends
                read this piece, many of them were able to resonate with me. So I guess... at last, we are never alone :)
            </h1>
        </div>

        <div class="content">
            <div class="portfolio-items">

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(1.png)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(2.png)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(3.png)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(4.png)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img1" style="background-image:url(5.png)"></div>
                </div>

            </div>
        </div>

    </div>
</body>
</html>