<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Comics</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="style-comics.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            
            <div class="left-col">
                <div class="nav-link">
                    <a href="/">Home</a>
                </div>
                
                <div class="nav-link">
                    <a href="/landscapes">Landscapes</a>
                </div>
    
                <div class="nav-link">
                    <a href="/portraits">Portraits</a>
                </div>
    
                <div class="nav-link">
                    <a href="/snippets">Snippets</a>
                </div>
    
                <div class="nav-link">
                    <a href="/comics">Comics</a>
                </div>
    
                <div class="nav-link">
                    <a href="/about">About Me</a>
                </div>
            </div>
            
            <div class="right-col">
                <div class="brand">
                    <div>CINDY XIN</div>
                </div>
            </div>
        </div>

        <div class="sen">
            <h1>Okey, you've probably seen enough paintings, take a break by reading some short comics/stories below</h1>
        </div>

        <div class="content">
            <div class="portfolio-items">

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/comic1/0.png)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/comic2/00.png)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/comic3/000.png)"></div>
                </div>

            </div>

            <div class="read-buttons">

                <div class="button">
                    <div class="button-img" style="background-image:url(images/button.png)"></div>
                    <div class="button-text">
                        <a href="/comic1">READ "On The Edge of Eighteen"</a>
                    </div>
                </div>

                <div class="button">
                    <div class="button-img" style="background-image:url(images/button.png)"></div>
                    <div class="button-text">
                        <a href="/comic2">READ "Traveling Light"</a>
                    </div>
                </div>

                <div class="button">
                    <div class="button-img" style="background-image:url(images/button.png)"></div>
                    <div class="button-text">
                        <a href="/comic3">READ "Everyone Is A Weirdo"</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
</html>