<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cindy's Colors</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <div class="nav">
            
            <div class="left-col">
                <div class="nav-link">
                    <a href="/">Home</a>
                </div>
                
                <div class="nav-link">
                    <a href="/landscapes">Landscapes</a>
                </div>
    
                <div class="nav-link">
                    <a href="/portraits">Portraits</a>
                </div>
    
                <div class="nav-link">
                    <a href="/snippets">Snippets</a>
                </div>
    
                <div class="nav-link">
                    <a href="/comics">Comics</a>
                </div>
    
                <div class="nav-link">
                    <a href="/about">About Me</a>
                </div>
            </div>
            
            <div class="right-col">
                <div class="brand">
                    <div>CINDY XIN</div>
                </div>
            </div>
        </div>
        
        <div class="header">
                
            <div class="cover">
                <div class="cover-img" style="background-image:url(images/landscape/front.jpg)"></div>
                <div class="cover-text">
                    <div class="cover-subtitle">
                        <h1>CINDY'S COLORS</h1>
                        <h2>A Painting Portfolio -- Welcome to my point of view (literally)</h2> 
                        <p1>Ingredients: several bowls of acrylic paint; some sheets of clothe; a few wooden sticks; a cup of love for the nature; a teaspoon of creativity; a hint of inspiration; and a pair of eyes that finds beauty within the smallest things.</p1>                    
                    </div>
                </div>
            </div>
        </div>




        <div class="content">
            <div class="portfolio-items-home">
                
                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/lanscape/field.png)"></div>
                </div>
                
                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/lanscape/front.jpg)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/lanscape/tree.JPG)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/lanscape/sunrise.JPG)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/lanscape/zebra.JPG)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/lanscape/street.jpeg)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/lanscape/road.png)"></div>
                </div>

                <div class="portfolio-item">
                    <div class="portfolio-img" style="background-image:url(images/lanscape/winter2.png)"></div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>