<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>"She Forced Me To Take This Photo"</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav">
            
        <div class="left-col">
            <div class="nav-link">
                <a href="index.ejs">Home</a>
            </div>
            
            <div class="nav-link">
                <a href="landscapes.ejs">Landscapes</a>
            </div>

            <div class="nav-link">
                <a href="portraits.ejs">Portraits</a>
            </div>

            <div class="nav-link">
                <a href="snippets.ejs">Snippets</a>
            </div>

            <div class="nav-link">
                <a href="comics.ejs">Comics</a>
            </div>

            <div class="nav-link">
                <a href="about.ejs">About Me</a>
            </div>
        </div>
        
        <div class="right-col">
            <div class="brand">
                <div>CINDY XIN</div>
            </div>
        </div>
    </div>
    <div class="pic-two-colsl">
        <div class="picturel">
            <img src="jerry.JPG">
        </div>
        <div class="picture-content">
            <h1>Jerry</h1>
            <p>A friend, an upperclassman, and our APUSH tutor.</p>
        </div>
    </div>
</body>
</html>
