/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-col {
    display: flex;
    border-bottom: 2px solid rgb(94, 94, 94);
}

.nav > .left-col > div {
    margin-right: 19px;
    font-size: 1.4em;
    text-transform: uppercase;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.s;
}

.nav-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color: black;
}